@import '~sweetalert/dist/sweetalert.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}

.modal-wrapper {
  background: #fff;
  width: 80%;
  max-width: 800px;
  margin: 4rem auto;
  transition: all .5s ease;
}

.modal-header {
  background: #2c2c2c;
  color: #e9e9e9;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.modal-header span,
p {
  font-size: 1.5rem;
  cursor: pointer;
  background: #2c2c2c;
}

.modal-content {
  padding: 1.5rem 1rem;
}

.close-modal-btn {
  color: #fff
}

.modal-body {
  font-size: 1rem;
  font-weight: 500;
  /* background: #eee; */
  color: #000;
  padding: 1rem;
}

.modal-div-label {
  font-size: 15px;
  float: left;
  width: 25%;
  margin-top: 20px;
}

.modal-div-input {
  float: left;
  width: 75%;
  margin-top: 6px;
}

input,
select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #C2C2C2;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);

}

textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 7px;
  border-radius: 15px;
  border: 1px solid #C2C2C2;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  outline: none;
}

.main-div-input {
  display: flex;
  flex-wrap: wrap;
}

.modal-div-btn {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  text-align: justify;
}

.cancelButton {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  margin-left: 10px;
  padding: 0.5rem 1.8rem;
  background-color: rgb(255, 75, 75);
  box-shadow: 7px 6px 28px 1px rgba(255, 67, 67, 0.4);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.saveResult {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1.8rem;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: rgb(5, 105, 255);
  box-shadow: 7px 6px 28px 1px rgba(5, 105, 255, 0.4);
}

::placeholder {
  font-size: 0.8rem;
  font-style: italic;
}